html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    width: 100%;
    max-width: 650px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    height: 500px;
    resize: both;
    overflow: auto;
    background-image: url("./background.png");
    background-size: cover;
    background-position: center;
}

.header__tittle {
    color: teal;
    padding-top: 20px;
    text-align: center;
}

.form__fieldset {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    border: 3px solid rgb(45, 45, 135)
}

.form__legend {
    background-color: rgb(19, 134, 145);
    color: white;
    max-width: 100%;
}

.form__labelText {
    color: rgb(40, 107, 152);
    width: 100%;
    padding: 40px;
}

.form__button {
 width: 100%;
 background-color: rgb(23, 128, 134);
 color: aliceblue;
 border-radius: 15px;
 padding: 10px;
 border:none;

}

.form__button:hover {
   background-color: rgb(36, 191, 199);
}
